Brotli==1.0.9
click==8.0.4
dash==1.21.0
dash-bootstrap-components==0.13.0
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-table==4.12.0
Flask==2.0.3
Flask-Compress==1.11
future==0.18.2
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.0
numpy==1.22.3
pandas>=1.2.1
plotly==5.6.0
python-dateutil==2.8.2
pytz==2021.3
six==1.16.0
tenacity==8.0.1
Werkzeug==2.0.3
gunicorn==20.1.0
