/*

Tabla de contenidos:

  1) Tipografía

  2) Pantalla de carga

  3) Scrollbar

  4) Modals



*/

/* 0) Cosas que estaban en el css de la primera app --------------------------------------------------------------------- */
.logo-mte-panel {
  width: 30%;
  margin-left: 30%;
}

.btn-filtro {
background-color: #0FA0CE;
color: white;
margin-top: 3%;
}

/* 1) Tipografía ------------------------------------------------------------------------------------------------------------------------------*/

@font-face {
  font-family: "Rubik";
  src: url("static/Rubik-Regular.ttf") format("truetype");
}

*, html, body {
  font-family: "Rubik",sans;
}

/* 2) Pantalla de Carga ------------------------------------------------------------------------------------------------------------------------------ */

._dash-loading {
  content: 'Cargando' !important;
  height: 100vh;
  width: 100%;
  background: rgb(44,85,156);
  background: linear-gradient(0deg, rgba(44,85,156,1) 0%, rgba(57,108,198,1) 81%, rgba(69,130,236,1) 100%);
  animation-delay: 3s;
  font-size: 0px;
}

._dash-loading::after {
  content: '';
  display: flex;
  width: 10rem;
  height: 10rem;
  color: white;
  vertical-align: text-bottom;
  margin: 0 auto;
  border: 0.25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border 0.75s linear infinite;
  animation: spinner-border 0.75s linear infinite;
  margin-top: calc(50vh - 5rem);
  animation-delay: 0s;
  font-size: 50px;
}

/* 3) Scrollbar ------------------------------------------------------------------------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 10px;
  z-index: 1;
}

::-webkit-scrollbar-track[id="botonera"]{
  background: rgb(222,222,222);
  background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(247,247,247,1) 51%, rgba(255,255,255,1) 100%);
  border-radius: 10px;
  z-index: 1;
}

::-webkit-scrollbar-track[id="div-individual"]{
  background: rgb(222,222,222);
  background: linear-gradient(0deg, rgba(222,222,222,1) 0%, rgba(247,247,247,1) 51%, rgba(255,255,255,1) 100%);
  border-radius: 10px;
  z-index: 1;
}

::-webkit-scrollbar-thumb {
  background: #2c559c;
  border-radius: 10px;
  z-index: 1;
}

::-webkit-scrollbar-thumb:hover {
  background: #263785;
  border-radius: 10px;
  z-index: 1;
}

/* 4) Modals ------------------------------------------------------------------------------------------------------------------------------*/

.modal-button {
  font-family: Rubik, sans;
  font-size: 15px;
  display:flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
  margin-top:0px !important;
  padding-top: 6px !important;
  background-color: #4582ec;
}

.modal-button:hover {
  background-color: #2c559c;
}

.ico {
  margin: 0px;
  padding: 0px;
  padding-right: 5px;
  margin-top: -1px;
}

