
/* Navbar ------------------------------------------------------------------------------------------------------------------------------*/

#navbar  {
position: fixed;
top: 0px;
list-style-type: none !important;
margin: 0 !important;
padding: 0 !important;
overflow: hidden;
background-color: #4582ec;
height: 45px;
z-index: 2 !important;
width: 100%;
}

#upload-comp-base {
display: inline-block;
color: white !important;
text-align: center;
text-decoration: none;

font-family: Rubik, sans;
}

#upload-comp-base:hover {
background-color: #2c559c;
box-sizing: border-box !important;
-moz-box-sizing: border-box !important;
-webkit-box-sizing: border-box !important;
text-decoration: none;
}

ul li {
float: left;
}

ul li a {
display: block;
padding: 10px 16px;
transition: 0.3s;

}

li a:hover {
background-color: #2c559c;
box-sizing: border-box !important;
-moz-box-sizing: border-box !important;
-webkit-box-sizing: border-box !important;
text-decoration: none;
}
.link-active {
background-color: #376bc4;
}

li:last-child{
float: right;
}

li:last-child a{
padding: 0px;
padding-top: 2px;
margin: 0 auto;
margin-right: 0px;
margin-top: 0px;
margin-right: 0px;
}

ul li a p {
display: inline-block;
color: white !important;
text-align: center;
text-decoration: none;

font-family: Rubik, sans;
}

ul li a img {
display: inline-block;
margin-top: -2px;
padding-right: 5px;
}

#logo-mte{
margin-left: 11px;
margin-top: 0px !important;
margin-right: 9px;
padding: 5px;
padding-right: -10px !important;
height:43px !important;
}