
@media (max-width: 995px) {

  #button-add-row-div {
    display: block !important;
    margin: 0 auto;
    width: 25rem;
  }

  #container-buttons{
    display: flex;
    justify-content: center;
  }

  .start-button{
    width: 25rem !important;
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 0px !important;
    border-radius: 15px 15px 0 0;

  }

  .mid-button{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 25rem !important;
    clear: both;
    display: block;
  }

  .end-button{
    margin-top: 0px !important;
    width: 25rem !important;
    clear: both;
    display: block;
    border-radius: 0 0 15px 15px;
  }

  #cargar-img {
    margin-left: 50px;
  }

  #cargar-text {
    display: flex;
    float: left;
    padding-left: 15px;
  }

  .mid-button img {
    margin-left: -12px;
  }

  .mid-button p {
    margin-left: 0px;
  }

  #input-legacyId{
    width: 20rem;
  }
}

@media (max-width: 700px) {

  #button-add-row-div {
    display: block !important;
    margin: 0 auto;
    width: 20rem;
  }

  #container-buttons{
    display: flex;
    justify-content: center;
  }

  .start-button{
    width: 20rem !important;
    display: block !important;
    margin: 0 auto !important;
    margin-bottom: 0px !important;
    border-radius: 15px 15px 0 0;

  }

  .mid-button{
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    width: 20rem !important;
    clear: both;
    display: block;
  }

  .end-button{
    margin-top: 0px !important;
    width: 20rem !important;
    clear: both;
    display: block;
    border-radius: 0 0 15px 15px;
  }

  #cargar-img {
    margin-left: 25px;
  }

  #cargar-text {
    display: flex;
    float: left;
    padding-left: 17px;
  }

  .mid-button img {
    margin-left: -12px;
  }

  .mid-button p {
    margin-left: 0px;
  }

  #input-legacyId{
    width: 20rem;
    overflow: ellipsis;
  }

  #search-button {
    width: 4rem;
  }

  #search-button img {
    margin-left: -0.4rem;
  }

  #search-button p{
    visibility: hidden;
  }
}